#inicio{
    color: crimson;
}
#criadora{
    color: crimson;
}
#funcionamento{
    color: crimson;
}
#criterios{
    color: crimson;
}
#criterio2{
    color: crimson;
}
#criterio3e4{
    color: crimson;
}
#criteriofinal{
    color: crimson;
}

body{
    background-image: url(bola7.jpg);
}