#conquistas{
   color:black
}

body{
    background-image: url(grama.jpg)
}
#seleçoes{
    color: white;
}

#artilheiros{
    color: white;
}

#goleiros{
    color: white;
}

#topo{
    color: black;
}